:root {
    --light-border: #E5E7EB;
    --tree-green: #596D48
}

@font-face {
    font-family: Norse-Bold;
    src: url(./Norse-Bold.otf);
}

body * {
    display: flex;
    margin: 0;
    font-family: system-ui;

}

body{
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: black;
    margin: 0;
}

div#left-image{
    background-image: url("sideimage.jpg");
    flex-direction: column;
    justify-content: space-between;
    height: 750px;
    width: 400px;
    flex: 0 0 auto;
    color: white;
}

main {
    flex-direction: column;
    justify-content: center;
    flex: 1;
    max-width: 600px;
    background-color: whitesmoke;

}

div#form-container{
    background-color: white;
    flex-wrap: wrap;
    margin: 24px 0;
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 8px;
    box-shadow: 0 4px 2px var(--light-border);
}

button#submit-form {
    align-self: flex-start;
    margin-left: 32px;
    margin-bottom: 12px;
    border-radius: 6px;
    background-color:var(--tree-green) ;
    color: white;
    font-weight: bold;
    padding: .75em 3em;
    border: none;
    box-shadow: 3px 3px 2px var(--light-border);
}

form#sign-up-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 12px;
}
div.input-label{
    flex-direction: column;
    width: 45%;
    align-items: flex-start;
    gap: 2px;
}

main > * {
    padding-left: 32px;
}

main > p {
    max-width: 400px;
}

div.greybox {
    background-color: rgb(0,0,0,0.5);
    justify-content: center;
    align-items: flex-end;
    margin-top: 40%;
    padding: 10px;

}

h1.odintext{
    font-family: Norse-Bold, system-ui;
    font-size: 72px;
    margin: 0;
}

img.icon{
    height: 90px;
}

p {
    font-weight: bold;
    white-space: pre-wrap;
    margin-bottom: 1em;
}

h2 {
    font-size: 16px;
    font-weight: bold;
    color: dimgrey;
    margin-bottom: 8px;
}

.credit {
    align-self: center;
    font-size: 12px;
    font-weight: lighter;
}

label {
    text-transform: uppercase;
    font-family: "Lucida Grande",monospace;
    font-weight: bolder;
    font-size: 9px;
    color: dimgrey;
    letter-spacing: 0.05em;
}

input {
    border: var(--light-border) 1px solid;
    border-radius: 3px;
}

#left-image a:link, #left-image a:visited  {
    color: white;
}

main a:link, main a:visited {
    color: var(--tree-green);
    font-weight: bold;
    text-decoration: none;
}

button + p{
    font-weight: normal;
}

