:root {
    --light-border: #E5E7EB;
}

@font-face {
    font-family: Norse-Bold;
    src: url(./Norse-Bold.otf);
}

body * {
    display: flex;
    margin: 0;
    font-family: system-ui;

}

body{
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: black;
    margin: 0;
}

div#left-image{
    background-image: url("sideimage.jpg");
    flex-direction: column;
    justify-content: space-between;
    height: 750px;
    width: 400px;
    flex: 0 0 auto;
    color: white;
}

main {
    flex-direction: column;
    justify-content: center;
    flex: 1;
    max-width: 600px;
    background-color: whitesmoke;

}

div#form-container{
    background-color: white;
    flex-wrap: wrap;
    margin: 24px 0;
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 8px;
    box-shadow: 0 4px 2px var(--light-border);
}

button#submit-form {
    align-self: flex-start;
    padding: 5px;
    margin-left: 18px;
    margin-bottom: 12px;
}

form#sign-up-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 12px;
}
div.input-label{
    flex-direction: column;
    width: 40%;
    align-items: flex-start;
    gap: 2px;
}

main > * {
    padding-left: 18px;
}

div.greybox {
    background-color: rgb(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    margin-top: 40%;
    padding: 10px;

}

h1.odintext{
    font-family: Norse-Bold, system-ui;
    font-size: 64px;
    margin: 0;
}

img.icon{
    height: 100px;
}

p {
    font-weight: bold;
    white-space: pre-wrap;
    margin-bottom: 1em;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    color: dimgrey;
}

.credit {
    align-self: center;
    font-size: 12px;
    font-weight: lighter;
}

label {
    text-transform: uppercase;
    font-family: monospace;
    font-weight: bolder;
    font-size: 10px;
    color: darkgray;
}

input {
    border: var(--light-border) 1px solid;
    border-radius: 3px;
}

#left-image a:visited {
    color: white;
}

